.categoria-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.categoria-page-titulo {
    font-size: 36px;
    font-weight: 1000;
    font-style: italic;
    color: #1a98ff;
    text-transform: uppercase;
    position: relative;
}

.categoria-page-titulo::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 90vw;
    height: 8px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #1a98ff, transparent);
}

.categoria-page-descripcion {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    margin: 0;
}

.categoria-page-descripcion p {
    margin-top: 0;
}

@media screen and (max-width: 768px) {

    .categoria-page-container {
        align-items: center;
    }

    .categoria-page-titulo{
        width: 90%;
    }

    .categoria-page-titulo::after {
        width: 100%;
    }

    .categoria-page-descripcion {
        text-align: center;
    }
}