/* Estilos del menú principal */
nav {
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.7s ease, width 0.7s ease;
    z-index: 999;
}

nav.fixed {
    width: 100vw;
    top: 0;
    border-radius: 0;
}

nav.scrolled {
    height: 7vh;
}

nav.scrolled .logo a {
    width: 40px;
    height: 40px;
}

nav.scrolled .navLinks ul li a {
    font-size: 1vw;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 15px;
}

.movil-title {
    display: none;
}

.logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("/public/assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navAll {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.navLinks ul li {
    list-style: none;
    position: relative; /* Añadimos posición relativa para alinear el submenú */
}

.navLinks ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
}

.navLinks ul li a:hover,
ul li a:focus {
    color: #1a98ff;
    outline: none;
}

/* Estilos para el submenú */
.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #008000;
    display: none; /* Por defecto, el submenú estará oculto */
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

/* Mostramos el submenú cuando el desplegable está abierto */
.menu-open .navLinks ul li:hover .submenu,
.menu-open .navLinks ul li:focus .submenu {
    display: flex; /* Mostramos el submenú como una columna */
}

.submenu li {
    margin: 5px 0;
    text-align: center;
}

.submenu a, .submenu div {
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: 600;
    cursor: pointer;
}

.submenu a:hover, .submenu div:hover {
    color: #1a98ff;
}

/* Resto de estilos */

.joinButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButton a {
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--logo);
    font-size: 1vw;
    font-weight: 400;
    color: white;
    transition: background-color 0.5s ease;
}

.joinButton a:hover,
.joinButton a:focus {
    background-color: white;
    color: var(--logo);
    outline: none;
}

@media only screen and (max-width: 1100px) {
    .navLinks ul li a {
        color: black;
        font-size: 18px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
        width: 90%;
    }

    .hamburger {
        display: block;
    }

    .navAll {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        transition: right 0.3s ease, opacity 0.3s ease;
        margin: 0;
    }

    .menu-open .navAll {
        right: 0;
        opacity: 1;
        pointer-events: auto;
    }

    .movil-title {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--logo);
    }

    .navLinks {
        width: 80%;
        height: unset;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .navLinks ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .navLinks ul li a {
        color: var(--text);
    }

    .navLinks ul li div{
        color: var(--text);
        font-weight: 600;
        font-size: 18px;
    }

    .menu-open .navLinks ul li {
        margin-bottom: 10px;
    }

    .submenu {
        position: static; /* Cambiamos la posición del submenú en móvil */
        width: 100%;
        display: none;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
    }

    .menu-open .submenu {
        display: flex;
        flex-direction: column;
    }

    .submenu a {
        font-size: 18px; /* Tamaño de fuente para enlaces del submenú en móvil */
    }

    .joinButton a {
        font-size: 18px;
    }
}

.no-scroll {
    overflow: hidden;
}
